@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  z-index: 1;
  background: url(./../assets/bg.jpg);
}
body nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4em;
  width: 100%;
  padding: 10px 55px;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
  z-index: 2;
  box-shadow: inset 0 25px 50px 0 rgba(0, 0, 0, 0.5019607843);
}
body nav .logoMobile {
  display: none;
}
body nav .linkLogo {
  display: block;
  align-items: center;
  justify-content: center;
}
body nav .linkLogo .logoMagflix {
  width: auto;
}
body nav .options {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body nav .options ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
body nav .options ul li a {
  color: #ccc;
  transition: all 0.5s;
}
body nav .options ul li a:hover {
  color: rgb(27, 238, 27);
  text-decoration: underline;
}
body nav .perfilOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}
body nav .perfilOptions ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
  height: 100%;
}
body nav .perfilOptions ul .pesquisa {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
body nav .perfilOptions ul .pesquisa #search {
  height: 100%;
  width: 0px;
  padding-left: 5px;
  border: none;
  outline: none;
  font-family: "Bebas Neue", cursive;
  color: #ccc;
  letter-spacing: 1px;
  background-color: transparent;
  transition: all 0.5s;
}
body nav .perfilOptions ul .pesquisa #search::placeholder {
  color: transparent;
}
body nav .perfilOptions ul .pesquisa ion-icon {
  transition: all 0.5s;
  height: 100%;
  font-size: 2em;
  color: #ccc;
  transform: rotate(-45deg);
}
body nav .perfilOptions ul .pesquisa:hover {
  background-color: rgba(0, 0, 0, 0.5019607843);
}
body nav .perfilOptions ul .pesquisa:hover #search {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.5019607843);
}
body nav .perfilOptions ul .pesquisa:hover #search::placeholder {
  color: #ccc;
}
body nav .perfilOptions ul .pesquisa:hover ion-icon {
  color: rgb(27, 238, 27);
  transform: rotate(1deg);
}
body nav .perfilOptions ul .infantil {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
body nav .perfilOptions ul .infantil a {
  color: #ccc;
  transition: all 0.5s;
}
body nav .perfilOptions ul .infantil a:hover {
  color: rgb(27, 238, 27);
  text-decoration: underline;
}
body nav .perfilOptions ul .portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
}
body nav .perfilOptions ul .portfolio a img {
  width: 2em;
  transition: all 0.5s;
}
body nav .perfilOptions ul .portfolio a img:hover {
  transform: rotate(90deg);
}
body nav .perfilOptions ul .user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 3em;
}
body nav .perfilOptions ul .user #userImage {
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 100%;
  transition: all 0.5s;
}
body nav .perfilOptions ul .user #userImage:hover {
  border-radius: 5px;
  border: 2px solid rgb(27, 238, 27);
}
body .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  z-index: 1;
}
body .container .indication {
  display: block;
  align-items: center;
  justify-content: center;
  background: url("./../assets/bgOsilmarillion.jpg") top;
  background-size: cover;
  box-shadow: inset 20px 60px 60px black, inset 20px -60px 60px black, inset 20px 60px 60px black, inset -60px -60px 60px black;
  width: 100%;
  height: 100vh;
  margin-top: -65px;
  padding-bottom: 50px;
}
body .container .indication .film {
  display: flex;
  align-items: start;
  justify-content: flex-end;
  flex-direction: column;
  padding: 5px 50px;
  width: 100%;
  height: 100%;
}
body .container .indication .film .seloSerie {
  margin-left: 5px;
  margin-bottom: 5px;
  height: 4%;
}
body .container .indication .film .logoFilm {
  height: 10%;
}
body .container .indication .film .sinopse {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 65%;
  flex-direction: column;
  padding: 50px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1rem;
  color: #ccc;
}
body .container .indication .film .buttons-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3em;
}
body .container .indication .film .buttons-info .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}
body .container .indication .film .buttons-info .buttons .watch {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 5em;
  border-radius: 10px;
  gap: 10px;
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  border-style: none;
  transition: 0.3s;
  cursor: pointer;
}
body .container .indication .film .buttons-info .buttons .watch:hover {
  transition: 0.3s;
  opacity: 0.5;
}
body .container .indication .film .buttons-info .buttons .watch:hover ion-icon {
  transition: 0.5s;
  color: rgb(27, 238, 27);
}
body .container .indication .film .buttons-info .buttons .infoFilm {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  width: 8em;
  border-radius: 10px;
  gap: 10px;
  font-family: "Bebas Neue", cursive;
  font-size: 1rem;
  border-style: none;
  transition: 0.3s;
  cursor: pointer;
}
body .container .indication .film .buttons-info .buttons .infoFilm:hover {
  transition: 0.3s;
  opacity: 0.5;
}
body .container .indication .film .buttons-info .buttons .infoFilm:hover ion-icon {
  transition: 0.5s;
  color: rgb(27, 238, 27);
}
body .container .indication .film .buttons-info .etariedade {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 10%;
  padding-left: 20px;
  background-color: rgba(0, 0, 0, 0.5019607843);
  border-left: 2px solid #ccc;
  height: 100%;
}
body .container .indication .film .buttons-info .etariedade .idade {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bebas Neue", cursive;
  font-size: 15pt;
  color: #ccc;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: red;
}
body .container .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5019607843);
  width: 100%;
  height: 100vh;
  color: #ccc;
  font-family: "Bebas Neue", cursive;
}
body .container .content .tittleMovie {
  padding-left: 55px;
}
body .container .content .rowMovie {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 50px;
  height: 12em;
  gap: 10px;
  backdrop-filter: blur(1px);
  background: transparent;
}
body .container .content .rowMovie .movie {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8em;
  width: 15em;
  transition: 0.3s;
  /*  margin-right: 10px; */
}
body .container .content .rowMovie .movie .pictureMovie {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition: 0.3s;
}
body .container .content .rowMovie .movie .pictureMovie:hover {
  height: 100%;
  width: 100%;
  box-shadow: -5px 5px 0px rgb(27, 238, 27);
}
body .container .content .rowMovie .movie:hover {
  height: 25%;
  width: 25%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  padding: 10px 55px 10px 55px;
  border-top: 1px solid rgb(27, 238, 27);
  margin-top: 100px;
}
footer .more {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .more a {
  color: #ccc;
}

@media (max-width: 428px) {
  body nav {
    justify-content: flex-end;
    padding: 5px 25px;
  }
  body nav .logoMobile {
    display: block;
  }
  body nav .options {
    display: none;
  }
  body nav .perfilOptions {
    width: 100%;
  }
  body nav .perfilOptions ul .infantil {
    display: none;
  }
  body .container {
    flex-direction: column;
  }
  body .container .indication {
    display: none;
  }
  body .container .content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
  }
  body .container .content .tittleMovie {
    display: none;
  }
  body .container .content .rowMovie {
    padding: 5px 25px;
    margin-top: 50px;
    height: 100%;
    flex-direction: column;
    gap: 100px;
  }
  body .container .content .rowMovie .movie {
    width: 100%;
  }
  body .container .content .rowMovie .movie:hover {
    width: 100%;
  }
  body .container .content .rowMovie .movie .pictureMovie {
    width: 95%;
    height: 95%;
  }
  body .container .content .emAlta {
    display: none;
  }
  body .container .content .action {
    display: none;
  }

  footer {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
